# Artificial Neural Network

### Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [5]:
tf.__version__

'1.14.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [6]:
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.drop(['RowNumber','CustomerId','Surname'],1,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [9]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [10]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
df.shape

(10000, 11)

In [12]:
df.corr()['Exited'].sort_values()

IsActiveMember    -0.156128
NumOfProducts     -0.047820
CreditScore       -0.027094
Tenure            -0.014001
HasCrCard         -0.007138
EstimatedSalary    0.012097
Balance            0.118533
Age                0.285323
Exited             1.000000
Name: Exited, dtype: float64

In [13]:
X = df.drop('Exited',1).values
y = df.Exited.values

In [14]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [15]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [17]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [19]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [29]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train.shape

(8000, 12)

## Part 2 - Building the ANN

### Initializing the ANN

In [25]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import ReLU

In [72]:
ann=Sequential()

### Adding the input layer and the first hidden layer

In [73]:
#ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [74]:
ann.add(Dense(units=6, activation='relu', input_dim=12))

### Adding the second hidden layer

In [75]:
#ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [76]:
ann.add(Dense(units=6, activation='relu'))

### Adding the output layer

In [77]:
#ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [78]:
ann.add(Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [52]:
#ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [79]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Training the ANN on the Training set

In [80]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.6327 - accuracy: 0.6639
Epoch 2/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.4986 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.4636 - accuracy: 0.7964
Epoch 4/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.4339 - accuracy: 0.8031
Epoch 5/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.4090 - accuracy: 0.8216
Epoch 6/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.3897 - accuracy: 0.8361
Epoch 7/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.3777 - accuracy: 0.8407
Epoch 8/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3694 - accuracy: 0.8459
Epoch 9/100
8000/8000 [==============================] - 1s 81us/step - loss: 0.3639 - accuracy: 0.8503
Epoch 10/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.3591 - accuracy: 0.8524
Epoch 11/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.3560 - accuracy: 0.8524
Epoch 12/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3538 - accuracy: 0.8535
Epoch 13/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3523 - accuracy: 0.8545
Epoch 14/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3503 - accuracy: 0.8561 0s - loss: 0.3
Epoch 15/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3485 - accuracy: 0.8587
Epoch 16/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3474 - accuracy: 0.8599
Epoch 17/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3467 - accuracy: 0.8596
Epoch 18/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3458 - accuracy: 0.8587
Epoch 19/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3451 - accuracy: 0.8587
Epoch 20/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3451 - accuracy: 0.8609
Epoch 21/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3445 - accuracy: 0.8619
Epoch 22/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3439 - accuracy: 0.8602
Epoch 23/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3434 - accuracy: 0.8614
Epoch 24/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.3425 - accuracy: 0.8609
Epoch 25/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3422 - accuracy: 0.8618
Epoch 26/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3421 - accuracy: 0.8608
Epoch 27/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3419 - accuracy: 0.8615
Epoch 28/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3412 - accuracy: 0.8620
Epoch 29/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3408 - accuracy: 0.8631
Epoch 30/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3399 - accuracy: 0.8612
Epoch 31/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3401 - accuracy: 0.8629
Epoch 32/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3394 - accuracy: 0.8626
Epoch 33/100
8000/8000 [==============================] - 1s 91us/step - loss: 0.3390 - accuracy: 0.8633
Epoch 34/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.3388 - accuracy: 0.8637
Epoch 35/100
8000/8000 [==============================] - 1s 82us/step - loss: 0.3387 - accuracy: 0.8625
Epoch 36/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3384 - accuracy: 0.8639
Epoch 37/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.3384 - accuracy: 0.8630
Epoch 38/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.3380 - accuracy: 0.8648
Epoch 39/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3375 - accuracy: 0.8644
Epoch 40/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.3370 - accuracy: 0.8633
Epoch 41/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3379 - accuracy: 0.8619
Epoch 42/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3369 - accuracy: 0.8634
Epoch 43/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3367 - accuracy: 0.8620
Epoch 44/100
8000/8000 [==============================] - 1s 94us/step - loss: 0.3371 - accuracy: 0.8630
Epoch 45/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.3367 - accuracy: 0.8637
Epoch 46/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.3365 - accuracy: 0.8649
Epoch 47/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3365 - accuracy: 0.8635
Epoch 48/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3362 - accuracy: 0.8631
Epoch 49/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3359 - accuracy: 0.8633
Epoch 50/100
8000/8000 [==============================] - 1s 84us/step - loss: 0.3356 - accuracy: 0.8644
Epoch 51/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3358 - accuracy: 0.8646
Epoch 52/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3357 - accuracy: 0.8650
Epoch 53/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3361 - accuracy: 0.8641
Epoch 54/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3353 - accuracy: 0.8643
Epoch 55/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3352 - accuracy: 0.8636
Epoch 56/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3354 - accuracy: 0.8644
Epoch 57/100
8000/8000 [==============================] - 1s 80us/step - loss: 0.3354 - accuracy: 0.8631
Epoch 58/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.3352 - accuracy: 0.8636
Epoch 59/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3355 - accuracy: 0.8634
Epoch 60/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3345 - accuracy: 0.8644
Epoch 61/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3348 - accuracy: 0.8626
Epoch 62/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3345 - accuracy: 0.8649
Epoch 63/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3347 - accuracy: 0.8643
Epoch 64/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3348 - accuracy: 0.8654
Epoch 65/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3345 - accuracy: 0.8639
Epoch 66/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3342 - accuracy: 0.8641
Epoch 67/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3344 - accuracy: 0.8641
Epoch 68/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.3340 - accuracy: 0.8640
Epoch 69/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3340 - accuracy: 0.8643
Epoch 70/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3334 - accuracy: 0.8634
Epoch 71/100
8000/8000 [==============================] - 1s 85us/step - loss: 0.3340 - accuracy: 0.8636
Epoch 72/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3339 - accuracy: 0.8637
Epoch 73/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3338 - accuracy: 0.8640
Epoch 74/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3337 - accuracy: 0.8659 0s - loss: 0.3474
Epoch 75/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.3339 - accuracy: 0.8648
Epoch 76/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3334 - accuracy: 0.8658
Epoch 77/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3337 - accuracy: 0.8641
Epoch 78/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3328 - accuracy: 0.8650
Epoch 79/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3332 - accuracy: 0.8652
Epoch 80/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3333 - accuracy: 0.8639
Epoch 81/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3328 - accuracy: 0.8626
Epoch 82/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3331 - accuracy: 0.8643 0s - loss: 0.3209
Epoch 83/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3328 - accuracy: 0.8635
Epoch 84/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3328 - accuracy: 0.8650
Epoch 85/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3330 - accuracy: 0.8645
Epoch 86/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3329 - accuracy: 0.8652
Epoch 87/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3322 - accuracy: 0.8633
Epoch 88/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3325 - accuracy: 0.8646
Epoch 89/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3326 - accuracy: 0.8650
Epoch 90/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3325 - accuracy: 0.8633
Epoch 91/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3318 - accuracy: 0.8646
Epoch 92/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3323 - accuracy: 0.8659
Epoch 93/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3315 - accuracy: 0.8648
Epoch 94/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3321 - accuracy: 0.8644
Epoch 95/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3322 - accuracy: 0.8651
Epoch 96/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3319 - accuracy: 0.8639
Epoch 97/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3320 - accuracy: 0.8626
Epoch 98/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3317 - accuracy: 0.8656
Epoch 99/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3318 - accuracy: 0.8648
Epoch 100/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3317 - accuracy: 0.8641

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [81]:
ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))

array([[1.]], dtype=float32)

In [82]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[ True]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results

In [83]:
ypred=ann.predict(X_test)
ypred[ypred>.5]=1
ypred[ypred<.5]=0
ypred

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)

### Making the Confusion Matrix

In [84]:
from sklearn.metrics import confusion_matrix, classification_report
print(classification_report(y_test, ypred))
confusion_matrix(y_test, ypred)

              precision    recall  f1-score   support

           0       0.88      0.95      0.91      1595
           1       0.72      0.50      0.59       405

    accuracy                           0.86      2000
   macro avg       0.80      0.72      0.75      2000
weighted avg       0.85      0.86      0.85      2000

array([[1516,   79],
       [ 204,  201]], dtype=int64)